RMQ_URL=amqp://user:password@rabbitmq:5672/%2F
ALERTS_EXCHANGE=alerts
ALERT_STATUS_QUEUE=alerts_statuses
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
DOMAIN=
PUBLIC_IP=

CAMPAIGNS_EXCHANGE=
APP_IMAGE=registry.timeweb.cloud/your-space/donation_alerts:latest
DOCKER_API_VERSION=1.53
CONTAINER_REGISTRY_USERNAME=
CONTAINER_REGISTRY_PASSWORD=

CHECK_NEW_ALET_SETTINGS_INTERVAL=10
CHECK_NEW_BAN_WORDS_INTERVAL=30
CHECK_NEW_MODERATION_SETTINGS_INTERVAL=60
CHECK_MAX_GROUPS_DURATION_INTERVAL=60

DOMAIN=
PUBLIC_IP=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
WIDGET_TOKEN_SECRET=

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

USER_STATE_REDIS_USER=
USER_STATE_REDIS_PASSWORD=
USER_STATE_REDIS_HOST=
USER_STATE_REDIS_PORT=
USER_STATE_REDIS_DB=

GRPC_SERVER_URL=
