RMQ_URL=amqp://user:password@rabbitmq:5672/%2F
ALERTS_EXCHANGE=alerts
ALERT_STATUS_QUEUE=alerts_statuses
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
DOMAIN=
PUBLIC_IP=

CAMPAIGNS_EXCHANGE=
APP_IMAGE=registry.timeweb.cloud/your-space/donation_alerts:latest

GET_ALET_SETTINGS_INTERVAL=60

DOMAIN=
PUBLIC_IP=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
WIDGET_TOKEN_SECRET=

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

GRPC_SERVER_URL=
