RMQ_URL=amqp://user:password@rabbitmq:5672/%2F
ALERTS_EXCHANGE=alerts
ALERT_STATUS_QUEUE=alerts_statuses
VIDEOS_EXCHANGE=videos
VIDEO_STATUS_QUEUE=video_statuses
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
CAMPAIGNS_EXCHANGE=
APP_IMAGE=a2413b08-pandasway.registry.twcstorage.ru/pandas-way-core/donation_alerts-app:latest
# dev deployment example:
# APP_IMAGE=a2413b08-pandasway.registry.twcstorage.ru/pandas-way-core/dev/donation_alerts-app:latest
DOCKER_API_VERSION=1.53
CONTAINER_REGISTRY_USERNAME=a2413b08-pandasway
CONTAINER_REGISTRY_PASSWORD=
DOMAIN=
PUBLIC_IP=

CHECK_NEW_ALET_SETTINGS_INTERVAL=10
CHECK_NEW_BAN_WORDS_INTERVAL=30
CHECK_NEW_MODERATION_SETTINGS_INTERVAL=60
CHECK_MAX_GROUPS_DURATION_INTERVAL=60
CHECK_NEW_WIDGET_VIDEO_SETTINGS_INTERVAL=60
CHECK_NEW_WIDGET_VIDEOS_INTERVAL=60

STREAMER_PRESENCE_TTL_SECONDS=180

DOMAIN=
PUBLIC_IP=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
WIDGET_TOKEN_SECRET=

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

USER_STATE_REDIS_USER=
USER_STATE_REDIS_PASSWORD=
USER_STATE_REDIS_HOST=
USER_STATE_REDIS_PORT=
USER_STATE_REDIS_DB=

GRPC_SERVER_URL=
