import /var/lib/caddy-runtime/upstreams.caddy

{$DOMAIN}, http://{$PUBLIC_IP} {
    handle /ws* {
        import api_proxy
    }

    handle /rabbitmq* {
        reverse_proxy rabbitmq:15672
    }

    handle {
        import api_proxy
    }
}

{$API_DOMAIN} {
    import api_proxy
}
